:root {
  --sds-background-default-default: #FFFFFF;
  --sds-background-default-default-hover: #F5F5F5;
  --sds-background-default-secondary: #F5F5F5;
  --sds-background-default-secondary-hover: #E6E6E6;
  --sds-background-default-tertiary: #D9D9D9;
  --sds-background-default-tertiary-hover: #B3B3B3;
  --sds-background-neutral-default: #5A5A5A;
  --sds-background-neutral-hover: #434343;
  --sds-background-neutral-secondary: #CDCDCD;
  --sds-background-neutral-secondary-hover: #B2B2B2;
  --sds-background-neutral-tertiary: #E3E3E3;
  --sds-background-neutral-tertiary-hover: #CDCDCD;
  --sds-background-brand-default: #2C2C2C;
  --sds-background-brand-hover: #1E1E1E;
  --sds-background-brand-secondary: #E6E6E6;
  --sds-background-brand-secondary-hover: #D9D9D9;
  --sds-background-brand-tertiary: #F5F5F5;
  --sds-background-brand-tertiary-hover: #E6E6E6;
  --sds-background-positive-default: #14AE5C;
  --sds-background-positive-hover: #009951;
  --sds-background-positive-secondary: #CFF7D3;
  --sds-background-positive-secondary-hover: #AFF4C6;
  --sds-background-positive-tertiary: #EBFFEE;
  --sds-background-positive-tertiary-hover: #CFF7D3;
  --sds-background-warning-default: #E8B931;
  --sds-background-warning-hover: #E5A000;
  --sds-background-warning-secondary: #FFF1C2;
  --sds-background-warning-secondary-hover: #FFE8A3;
  --sds-background-warning-tertiary: #FFFBEB;
  --sds-background-warning-tertiary-hover: #FFF1C2;
  --sds-background-danger-default: #EC221F;
  --sds-background-danger-hover: #C00F0C;
  --sds-background-danger-secondary: #FDD3D0;
  --sds-background-danger-secondary-hover: #FCB3AD;
  --sds-background-danger-tertiary: #FEE9E7;
  --sds-background-danger-tertiary-hover: #FDD3D0;
  --sds-background-disabled-default: #D9D9D9;
  --sds-background-utilities-scrim: rgba(0, 0, 0, 0.800000011920929);
  --sds-background-utilities-blanket: rgba(0, 0, 0, 0.699999988079071);
  --sds-background-utilities-overlay: rgba(0, 0, 0, 0.5);
  --sds-background-utilities-measurement: #FAE1FA;
  --sds-text-default-default: #1E1E1E;
  --sds-text-default-secondary: #757575;
  --sds-text-default-tertiary: #B3B3B3;
  --sds-text-neutral-default: #303030;
  --sds-text-neutral-secondary: #5A5A5A;
  --sds-text-neutral-tertiary: #767676;
  --sds-text-neutral-on-neutral: #F3F3F3;
  --sds-text-neutral-on-neutral-secondary: #303030;
  --sds-text-neutral-on-neutral-tertiary: #434343;
  --sds-text-brand-default: #2C2C2C;
  --sds-text-brand-secondary: #444444;
  --sds-text-brand-tertiary: #757575;
  --sds-text-brand-on-brand: #F5F5F5;
  --sds-text-brand-on-brand-secondary: #1E1E1E;
  --sds-text-brand-on-brand-tertiary: #2C2C2C;
  --sds-text-positive-default: #02542D;
  --sds-text-positive-secondary: #009951;
  --sds-text-positive-tertiary: #14AE5C;
  --sds-text-positive-on-positive: #EBFFEE;
  --sds-text-positive-on-positive-secondary: #02542D;
  --sds-text-positive-on-positive-tertiary: #02542D;
  --sds-text-warning-default: #522504;
  --sds-text-warning-secondary: #975102;
  --sds-text-warning-tertiary: #BF6A02;
  --sds-text-warning-on-warning: #401B01;
  --sds-text-warning-on-warning-secondary: #682D03;
  --sds-text-warning-on-warning-tertiary: #522504;
  --sds-text-danger-default: #900B09;
  --sds-text-danger-secondary: #C00F0C;
  --sds-text-danger-tertiary: #EC221F;
  --sds-text-danger-on-danger: #FEE9E7;
  --sds-text-danger-on-danger-secondary: #900B09;
  --sds-text-danger-on-danger-tertiary: #900B09;
  --sds-text-disabled-default: #B3B3B3;
  --sds-text-disabled-on-disabled: #B3B3B3;
  --sds-text-utilities-text-on-overlay: #0C0C0D;
  --sds-text-utilities-text-on-measurement: #8A226F;
  --sds-border-default-default: #D9D9D9;
  --sds-border-default-secondary: #757575;
  --sds-border-default-tertiary: #383838;
  --sds-border-neutral-default: #303030;
  --sds-border-neutral-secondary: #767676;
  --sds-border-neutral-tertiary: #B2B2B2;
  --sds-border-brand-default: #2C2C2C;
  --sds-border-brand-secondary: #444444;
  --sds-border-brand-tertiary: #757575;
  --sds-border-positive-default: #02542D;
  --sds-border-positive-secondary: #009951;
  --sds-border-positive-tertiary: #14AE5C;
  --sds-border-warning-default: #522504;
  --sds-border-warning-secondary: #975102;
  --sds-border-warning-tertiary: #BF6A02;
  --sds-border-danger-default: #900B09;
  --sds-border-danger-secondary: #C00F0C;
  --sds-border-danger-tertiary: #EC221F;
  --sds-border-disabled-default: #B3B3B3;
  --sds-border-utilities-measurement: #F19EDC;
  --sds-border-utilities-swatch: rgba(255, 255, 255, 0.23999999463558197);
  --sds-icon-default-default: #1E1E1E;
  --sds-icon-default-secondary: #757575;
  --sds-icon-default-tertiary: #B3B3B3;
  --sds-icon-neutral-default: #303030;
  --sds-icon-neutral-secondary: #5A5A5A;
  --sds-icon-neutral-tertiary: #767676;
  --sds-icon-neutral-on-neutral: #F3F3F3;
  --sds-icon-neutral-on-neutral-secondary: #303030;
  --sds-icon-neutral-on-neutral-tertiary: #434343;
  --sds-icon-brand-default: #2C2C2C;
  --sds-icon-brand-secondary: #444444;
  --sds-icon-brand-tertiary: #757575;
  --sds-icon-brand-on-brand: #F5F5F5;
  --sds-icon-brand-on-brand-secondary: #1E1E1E;
  --sds-icon-brand-on-brand-tertiary: #2C2C2C;
  --sds-icon-positive-default: #02542D;
  --sds-icon-positive-secondary: #009951;
  --sds-icon-positive-tertiary: #14AE5C;
  --sds-icon-positive-on-positive: #EBFFEE;
  --sds-icon-positive-on-positive-secondary: #02542D;
  --sds-icon-positive-on-positive-tertiary: #024023;
  --sds-icon-warning-default: #522504;
  --sds-icon-warning-secondary: #975102;
  --sds-icon-warning-tertiary: #BF6A02;
  --sds-icon-warning-on-warning: #401B01;
  --sds-icon-warning-on-warning-secondary: #682D03;
  --sds-icon-warning-on-warning-tertiary: #522504;
  --sds-icon-danger-default: #900B09;
  --sds-icon-danger-secondary: #C00F0C;
  --sds-icon-danger-tertiary: #EC221F;
  --sds-icon-danger-on-danger: #FEE9E7;
  --sds-icon-danger-on-danger-secondary: #900B09;
  --sds-icon-danger-on-danger-tertiary: #900B09;
  --sds-icon-disabled-default: #B3B3B3;
  --sds-icon-disabled-on-disabled: #B3B3B3;
  --sds-icon-utilities-icon: #D732A8;
  --sds-icon-utilities-icon-on-measurement: #8A226F;
  --sds-title-hero-font-family: Inter;
  --sds-title-hero-font-size: 72px;
  --sds-title-hero-font-weight: 700;
  --sds-title-hero-letter-spacing: -2px;
  --sds-title-hero-line-height: 86.4000015258789px;
  --sds-title-page-font-family: Inter;
  --sds-title-page-font-size: 48px;
  --sds-title-page-font-weight: 600;
  --sds-title-page-letter-spacing: -2px;
  --sds-title-page-line-height: 57.599998474121094px;
  --sds-subtitle-font-family: Inter;
  --sds-subtitle-font-size: 32px;
  --sds-subtitle-font-weight: 600;
  --sds-subtitle-letter-spacing: -2px;
  --sds-subtitle-line-height: 0px;
  --sds-heading-font-family: Inter;
  --sds-heading-font-size: 24px;
  --sds-heading-font-weight: 600;
  --sds-heading-letter-spacing: -0.5px;
  --sds-heading-line-height: 28.799999237060547px;
  --sds-subheading-font-family: Inter;
  --sds-subheading-font-size: 20px;
  --sds-subheading-font-weight: 600;
  --sds-subheading-letter-spacing: -2px;
  --sds-subheading-line-height: 24px;
  --sds-body-font-family: Inter;
  --sds-body-font-size: 16px;
  --sds-body-font-size-small: 14px;
  --sds-body-font-size-large: 20px;
  --sds-body-font-weight: 400;
  --sds-body-font-weight-strong: 400;
  --sds-body-font-style-italic: Italic;
  --sds-body-letter-spacing: 0px;
  --sds-body-line-height: 22.399999618530273px;
  --sds-body-line-height-single: 16px;
  --sds-body-line-height-small: 19.600000381469727px;
  --sds-body-line-height-small-single: 19.600000381469727px;
  --sds-body-line-height-large: 28px;
  --sds-code-font-family: Roboto Mono;
  --sds-code-font-size: 16px;
  --sds-code-font-weight: 400;
  --sds-code-font-weight-strong: 400;
  --sds-code-font-style-italic: Italic;
}